Source: ndnx
Priority: extra
Maintainer: Alexander Afanasyev <alexander.afanasyev@ucla.edu>
Build-Depends: debhelper (>= 8.0.0), 
 javahelper (>=0.25), 
 ant (>=1.8.0),
 libssl-dev (>=1.0.1),
 libpcap-dev (>=1.1.1),
 libxml2-dev (>=2.7.8),
 libexpat1-dev (>=2.0.1),
 adduser (>= 3.40),
 default-jdk
Standards-Version: 3.9.2
Section: libs
Homepage: http://github.com/named-data/ndnx
Vcs-Git: git://github.com/named-data/ndnx.git
Vcs-Browser: http://github.com/named-data/ndnx

Package: ndnx-dev
Section: libdevel
Architecture: i386 amd64
Depends: ndnx (= ${binary:Version}), 
 ${misc:Depends},
 libssl-dev (>=1.0.1)
Description: NDNx library and ndnd forwarding daemon

Package: ndnx-repo
Section: net
Architecture: i386 amd64
Depends: ndnx (= ${binary:Version}), 
 ${shlibs:Depends},
 ${misc:Depends}
Description: Repo daemon meta package

Package: ndnx
Section: net
Architecture: i386 amd64
Pre-Depends: adduser
Depends: ${shlibs:Depends},
 ${misc:Depends}
Description: NDNx library and ndnd forwarding daemon
