#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

CFLAGS := $(shell dpkg-buildflags --get CFLAGS) -std=gnu99
export INSTALL_BASE=/usr
export INSTALL_MAN=/usr/share/man

TMP=$(CURDIR)/debian/tmp

%:
	dh $@  --parallel

override_dh_auto_test:

override_dh_clean:
	dh_clean
	rm -f csrc/lib/Makefile csrc/ndnd/Makefile csrc/ndnr/Makefile \
	  csrc/exttests/Makefile csrc/util/Makefile \
	  csrc/cmd/Makefile csrc/sync/Makefile csrc/libexec/Makefile \
	  csrc/tests/Makefile apps/subr.mk apps/generic.mk \
	  apps/include apps/conf.mk csrc/conf.mk

override_dh_auto_install:
	mkdir -p $(TMP)/usr/share/man/man1 \
		 $(TMP)/usr/bin \
		 $(TMP)/usr/include \
		 $(TMP)/usr/lib \
		 $(TMP)/etc/ndnx
	dh_auto_install
	cp debian/etc/ndnx/* $(TMP)/etc/ndnx/
	rm $(TMP)/usr/bin/ndndstart $(TMP)/usr/bin/ndndstop
